/* Begin Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     
}

img{
    display: block;
}

/* End Reset*/

/* Begin utility classes*/

.nowrap{
    white-space: nowrap;

}

.offscreen{

    position: absolute;
    left: -1000px;
}
/* end utility classes*/

body{
    min-height: 100vh;
    background-size: 20%, auto;
    background: repeat-y right url(../img/bu.png),no-repeat,linear-gradient(to left,steelblue,white);
}

.container{
    background-color: bisque;
    background-image: url(../img/bg.png);
    background-size: cover;
   
}

.hero{
    border-bottom: 2px solid green;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:30px;
    background-color:#664d4d54;
    
}
.clip{
    font-weight: 700;
    font-size: 8rem;
    text-align: center;
    background-image: url(../img/bg.png);
    background-size: cover;
    -webkit-background-clip: text;
    color:transparent;
}

.h1{
    
    font-size: 400%;
    color: #7d1919;
    text-shadow: 2px 2px 5px black;
   
}

.profile-pic{
    width: 35%;
}

.profile-pic img{
    width: 100%;
    height: auto;
    min-height: 100px;
    border: 5px double burlywood;
    border-radius: 50%;
}

